@import "normalize.css";

html {
	scroll-behavior: smooth;
}

body {
	padding: 0;
}

.map-container {
	position: relative;
}

.map-container svg {
	height: auto;
	width: 100%;
}

.state {
	fill: #9ad7f9;
	stroke: white;
	stroke-width: 2px;
	transition-property: fill;
	transition-duration: 0.2s;

	&:focus-visible,
	&:hover {
		fill: #00263f;
	}
}

.markers {
	pointer-events: none;
}

.location {
	background: none;
	border: none;
	height: 100%;
	left: 0;
	margin: 0;
	max-height: 100%;
	opacity: 0;
	padding: 1em;
	position: absolute;
	top: 0;
	transition-duration: 0.5s;
	transition-property: transform, opacity, visibility;
	visibility: hidden;
	width: max-content;

	&[open] {
		opacity: 1;
		visibility: visible;
	}
}

.location__inner {
	background-color: #fff;
	box-shadow: 0 0 0.5em rgb(0 0 0 / 50%);
	border-radius: 0.25em;
	display: flex;
	flex-direction: column;
	max-height: 100%;
}

.location__overflow {
	height: 100%;
	overflow: auto;
	padding: 1em;
}
